h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.heading{
  padding-left: 25px;
  padding-top: 25px;

}
.padding10{
  padding-top: 10px;
}

body {
  margin: 2em;
}

/*ul{
  list-style-type: none !important;
}
li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: flex;
}

li a {
    display: block;
   padding-right: 10px;
}
